body {
  font-family: "Hubballi", cursive;
  background-color: #f1f5f9;
  font-size: 1.6rem;
}
header {
  background-color: #0ea5e9;
  padding: 1.5rem;
  border-bottom: 1rem solid #0284c7;
}
header h1 {
  text-align: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  margin: 0;
}
.dos-columnas {
  display: grid;
  gap: 4rem;
}
@media (min-width: 768px) {
  .dos-columnas {
    grid-template-columns: repeat(2, 1fr);
  }
}
main {
  margin: 4rem auto;
  max-width: 1200px;
}
.contenedor {
  margin: 0 auto 2rem auto;
  border-radius: 0.5rem;
  background-color: white;
  padding: 4rem;
  -webkit-box-shadow: 0px 10px 33px -17px rgba(173, 173, 173, 1);
  -moz-box-shadow: 0px 10px 33px -17px rgba(173, 173, 173, 1);
  box-shadow: 0px 10px 33px -17px rgba(173, 173, 173, 1);
  width: 100%;
}
form {
  width: 100%;
}
.campo {
  max-width: 400px;
  margin: 0 auto 1rem auto;
}
.campo label {
  display: block;
}
.campo input,
.campo select {
  all: unset;
  border: 1px solid #cbd5e1;
  width: 100%;
  border-radius: 1rem;
  padding: 0.5rem;
}

input[type="submit"] {
  background-color: #0ea5e9;
  margin: 2rem auto 0 auto;
  display: block;
  padding: 1rem 3rem;
  color: white;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  border: none;
  width: 100%;
  transition: background-color 0.3s ease;
}
@media (min-width: 768px) {
  input[type="submit"] {
    max-width: 400px;
  }
}
input[type="submit"]:hover {
  background-color: #0369a1;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #0369a1;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.clima {
}

.clima > p:first-of-type {
  font-size: 4rem;
  font-family: "Inter", sans-serif;
}

.clima p {
  text-align: center;
  margin: 0;
}

.clima p span {
  font-size: 1rem;
  vertical-align: super;
}

.temp_min_max {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}
