@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #181818;
  font-family: 'League Spartan', sans-serif;
  
}

html {
  scroll-behavior: smooth;
}

.transition1 {
  transition-duration: 300ms;
transition-timing-function: ease-in-out;
}

.underline1 {
  position: relative;
  text-decoration: none; /* Quitamos el subrayado por defecto */
 
}

.underline1::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #8758FF;
  transition: width 0.3s ease-in-out; /* Añadimos una transición suave */
  
}

.underline1:hover::after {
  width: 100%; /* Hacemos que el subrayado aparezca de izquierda a derecha */
 
}